#
# requirements.in - explicit python dependencies
#
# to update requirements.txt, run:
#
#    pip-compile requirements.in
#

Cython==0.29.34
flake8
twine
wheel

coveralls
mock
pytest
pytest-cov
pytest-watch
